.otherDayWeatherBox {
  width: 328px;
  height: 311px;
  position: relative;
  border: 2px solid;
  border-radius: 30px 30px 0 0;
  margin: 3px 0 0 11px;
  border: none;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  padding-top: 1px;
  z-index: 1;
}
.Day1, .Day2, .Day3, .Day4 {
  width: 308px;
  height: 55px;
  border-radius: 18px;
  margin: 17px 0 0 9px;
  border: 1px solid rgba(186, 233, 255, 0.3);
}
.DayBoxInsaid {
  display: flex;
  align-items: center;
  margin: 8px 0px 0 0px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 13px;
  gap: 3px;
  white-space: nowrap;
}
.WeekDay {
  width: 40px;
  margin-left: 7px;
  display: flex;
  justify-content: right;
}
.MonIconOfDay {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0px;
}
.DayInfo {
  flex-grow: 1;
  text-align: left;
  padding-left: 5px;
}
.DayTemp {
  width: 40px;
  justify-content: right;
}
.DayBoxInsaid span {
  display: inline-block;
  width: 5px;       
  text-align: right; 
}
.DayBoxInsaid::first-letter {
  display: inline-block;
  width: 30px; 
}