@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.appBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 400px;
}
.phoneCard {
  height: 651px;
  width: 410px;
  position: relative;
  left: 380px;
  z-index: 2;
}
.backGround {
  height: 600px;
  width: 350px;
  background: linear-gradient(145deg, #0f172a 0%, #1e293b 50%, #334155 100%);
  border-radius: 25px;
}
.header {
  position: relative;
  display: grid;
  grid-template-areas: "stack";
}
.CityNameNow {
  position: absolute;
  z-index: 2;
  margin: 15px 0 0 20px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  
}
.ImageOfWeather {
  width: 350px;
  height: 210px;
  border-radius: 30px 30px 0px 0px;
  border: none;
  grid-area: stack;
  z-index: 1;
  filter: blur(1.5px);
  box-shadow:
    0px 7px 3px rgb(20, 19, 53);

}
.WeatherIndicatorBox {
  grid-area: stack;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}
.DegreesAndIcon {
  display: flex;
  flex-direction: row;
}
.IconOfPartlyCloudy {
  grid-area: stack;
  z-index: 2;
  margin-top: 10px;
  width: 70px;
  height: 70px;
}
.DegreesOfCelsius {
  grid-area: stack;
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: bold;
  margin: 4px 0 0 5px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.DegreesOfCelsius span {
  font-size: 2.5rem;
}

